* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
  padding: 1.5rem;
}

.header__logo {
  user-select: none;
  width: 8.75rem;
  filter: brightness(0) invert(1);
  margin-right: auto;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 22rem;
  margin-left: 2rem;
}

.header__link {
  position: relative;
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 0;
}

.header__link:after {
  position: absolute;
  top: 1.375rem;
  left: 0;
  content: "";
  width: 0%;
  height: 0.15rem;
  cursor: auto;
  background-color: #ffffff;
  transition: 0.25s ease-in-out;
}

.header__link:hover:after {
  width: 100%;
}

.header__dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__dropdown:hover .header__dropdown_box {
  display: flex;
}

.header__dropdown_heading {
  user-select: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem 0;
  margin: -1.5rem 0;
}

.header__dropdown_icon {
  width: 0.75rem;
  filter: brightness(0) invert(1);
  margin-left: 0.35rem;
}

.header__dropdown_box {
  position: absolute;
  top: 1.5rem;
  left: -1.5rem;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #000000;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem 0.75rem;
}

.header__dropdown_box .header__link {
  margin-bottom: 1rem;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  background-color: #ffffff;
}

.intro__text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.intro__heading {
  max-width: 23rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 2rem 0;
}

.intro__button {
  all: unset;
  user-select: none;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  border: 0.15rem solid #000000;
  border-radius: 1.5rem;
  padding: 0.75rem 2rem;
  transition: 0.25s ease-in-out;
}

.intro__button:hover {
  background-color: transparent;
  color: #000000;
}

.intro__img_box {
  display: flex;
}

.intro__img {
  object-fit: cover;
  width: 100%;
  max-width: 65rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3rem;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
  padding: 5rem 0;
}

.gallery__img_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.gallery__img_box:hover .gallery__img_label {
  opacity: 1;
}

.gallery__img_box:hover .gallery__img {
  opacity: 0.5;
}

.gallery__img {
  width: 10rem;
  transition: 0.25s ease-in-out;
}

.gallery__img_label {
  opacity: 0;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.375rem;
  line-height: 1.5rem;
  text-decoration: overline underline;
  text-underline-offset: 0.55rem;
  transition: 0.25s ease-in-out;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3.5rem;
}

.newsletter__heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 0;
}

.newsletter__paragraph {
  text-align: center;
  max-width: 25rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.newsletter__form {
  width: 100%;
}

.newsletter__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.newsletter__input {
  width: 100%;
  max-width: 15rem;
  font-family: "Roboto", sans-serif;
  border: 0.1rem solid #808080;
  border-radius: 0.5rem;
  outline-color: #000000;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
}

.newsletter__input::placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}

.newsletter__button {
  all: unset;
  user-select: none;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  border: 0.15rem solid #000000;
  border-radius: 1.5rem;
  padding: 0.75rem 3rem;
  margin-top: 0.5rem;
  transition: 0.25s ease-in-out;
}

.newsletter__button:hover {
  background-color: transparent;
  color: #000000;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 1.5rem;
  column-gap: 1rem;
  width: 100%;
  background-color: #000000;
  padding: 3rem 1.5rem;
}

.footer__link {
  position: relative;
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 0;
}

.footer__link:after {
  position: absolute;
  top: 1.375rem;
  left: 0;
  content: "";
  width: 0%;
  height: 0.15rem;
  cursor: auto;
  background-color: #ffffff;
  transition: 0.25s ease-in-out;
}

.footer__link:hover:after {
  width: 100%;
}

.planets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 5rem;
}

.planets__heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.85rem;
  line-height: 2rem;
  margin-bottom: 3.6rem;
}

.planets__table {
  text-align: center;
  width: 100%;
  max-width: 70rem;
  background-color: #000000;
  border-radius: 1rem;
}

.planets__table td {
  padding: 1rem;
}

.planets__img {
  user-select: none;
  width: 35vw;
  max-width: 25rem;
}

.planets__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10.5rem;
}

.planets__name {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.375rem;
  line-height: 1.5rem;
  text-decoration: overline underline;
  text-underline-offset: 0.55rem;
  margin: 0 0 1.5rem 0;
}

.planets__info {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.975rem;
  line-height: 1rem;
  margin: 0.425rem 0;
}

.planets__info_label {
  font-weight: 500;
}

.planets__button {
  all: unset;
  user-select: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  border: 0.15rem solid #ffffff;
  border-radius: 1.5rem;
  padding: 0.75rem 2rem;
  margin-top: 1.25rem;
  transition: 0.25s ease-in-out;
}

.planets__button:hover {
  background-color: transparent;
  color: #ffffff;
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 5rem;
}

.planet__heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.85rem;
  line-height: 2rem;
  margin-bottom: 3.6rem;
}

.planet__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
  background-color: #000000;
  border-radius: 1rem;
  padding: 2rem;
}

.planet__img_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet__img {
  width: 100%;
  max-width: 50rem;
}

.planet__description_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.planet__description {
  max-width: 30rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  letter-spacing: 0.01rem;
  line-height: 2.25rem;
  border-top: 0.2rem double #ffffff;
  border-bottom: 0.2rem double #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

.planet__info_box {
  grid-column: auto / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
}

.planet__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  width: 100%;
  background-color: #000000;
  border: 0.15rem solid #ffffff;
  border-radius: 0.25rem;
  padding: 1rem;
  transition: 0.25s ease-in-out;
}

.planet__info:hover {
  border-radius: 1rem;
}

.planet__info:hover .planet__info_label {
  letter-spacing: 0.3rem;
}

.planet__info_label {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.975rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  opacity: 0.8;
  margin: 0;
  transition: 0.25s ease-in-out;
}

.planet__info_value {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.375rem;
  margin: 0;
}

@media (max-width: 1700px) {
  .planet__info_box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .intro {
    flex-direction: column-reverse;
  }

  .intro__text_box {
    align-items: center;
  }

  .intro__heading {
    text-align: center;
    line-height: 2.625rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .planets {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .planets__table {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .planet {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .planet__img_box {
    grid-column: auto / span 2;
  }

  .planet__img {
    max-width: 25rem;
  }

  .planet__description_box {
    grid-column: auto / span 2;
    text-align: center;
    margin-bottom: 2rem;
  }

  .planet__description {
    max-width: 40rem;
  }

  .planet__info_box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .header__logo {
    align-self: center;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .header__nav {
    max-width: none;
    margin-left: 0;
    margin-bottom: 0.25rem;
  }

  .intro__text_box {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .planet__info {
    flex-direction: column;
  }

  .planet__info_label {
    text-align: center;
    margin-bottom: 0.125rem;
  }
}

@media (max-width: 400px) {
  .header__nav {
    flex-direction: column;
    min-height: 7.5rem;
    margin-bottom: 0.5rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}
